.answerbox-answering-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.answerbox-toggle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.answerbox-toggle-content {
    margin-left: 1rem;
}

.answerbox-toggle-content-2 {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.answerbox-textbox {
    margin-bottom: 0;
}

.answerbox-textbox-text {
    font-size: 1.5rem;
}

.answerbox-button {
    background-color: #6287F7;
    color: white;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.75rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.answerbox-answering-bigger-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.answerbox-answering-voice-instructions {
    color: #6287F7;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}

.answerbox-answering-voice-instructions-highlight {
    display: inline-block;
    color: white;
    background-color: #3f5aa8;
    padding: 0.08rem 0.15rem 0.15rem 0.15rem;
    font-size: 0.8rem;
    border-radius: 0.25rem;
    margin: 0 0.15rem 0 0.15rem;
}

.answerbox-answering-voice-instructions-btn-highlight {
    display: inline-block;
    color: white;
    background-color: #6287F7;
    padding: 0.08rem 0.15rem 0.15rem 0.15rem;
    font-size: 0.8rem;
    border-radius: 0.25rem;
    margin: 0 0.15rem 0 0.15rem;
}

.answerbox-voicebutton-wrapper {
    margin-left: 0.8rem;
    background-color: #EA4335;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.answerbox-hvr-grow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.answerbox-hvr-grow:hover, .answerbox-hvr-grow:focus, .answerbox-hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.answerbox-voicebutton-volume-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.answerbox-voicebutton-volume-slider {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background-color: white;
}