.dashboard-content-wrapper {
    flex-grow: 1;
    padding: 2rem;
    text-align: left;
    display: flex;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.newscolumn-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: calc(100%);
    width: 15rem;
    border-radius: 1rem;
    box-sizing: border-box;
    border: 5px solid #f4f5fc;
    
}

.newscolumn-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: -2px;
    margin-left: 0.5rem;
}

.newscolumn-icon {
    height: 25px;
    width: auto;
    color: #6287F7;
}

.newscolumn-title-wrapper {
    display: flex;
    align-items: center;


    width: 100%;
    margin-top: -5px;
    background-color: #f4f5fc;
    padding: 0.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border: 5px solid #f4f5fc;
    box-sizing: border-box;
}

.newscolumn-cards-wrapper {
    padding: 0.5rem;
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: scroll;
}

.newscard-wrapper {
    padding: 0.5rem;
}

.newscard-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.newscard-date-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
}

.newscard-date-text {
    font-size: 0.7rem;
    color: orange;
    margin-left: 5px;
}

.newscard-content {
    font-size: 0.9rem;
}

.newscard-divider {
    width: 70%;
    margin: 1rem auto;
    border: 1px solid lightgrey;
    border-radius: 50%;
}