.leaderboards-content-wrapper {
    flex-grow: 1;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

.leaderboards-board-wrapper {
    border-radius: 1rem;
    overflow: hidden;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    border: 5px solid #EFF2FC;
}


.leaderboards-board-title-wrapper {
    width: 100%;
    margin-top: -5px;
    background-color: #EFF2FC;
    padding: 0.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border: 5px solid #EFF2FC;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leaderboards-board-title-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.leaderboards-board-title-buttons-wrapper {
    display: flex;
}

.leaderboards-board-title-buttons-wrapper > * {
    margin-left: 1rem;
}

.leaderboards-board-title-buttons-wrapper > *:first-child {
    margin-left: 0;
}

.leaderboards-board-title-buttons {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid grey;
}

.leaderboards-board-content-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: scroll;
}

.leaderboards-board-user-wrapper {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 1rem;
}

.leaderboards-board-user-rank {
    background-color: #6287F7;
    color: white;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    margin-left: 1rem;
    font-weight: 900;
    border-radius: 0.5rem;
}

.leaderboards-board-user-rating {
    margin-left: auto;
    margin-right: 1rem;
}

.leaderboards-board-user-name {
    padding: 1rem;
    
}

.leaderboards-distribution-content-wrapper {
    flex-grow: 1;
    flex-basis: 0;
    background-color: #EFF2FC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}